img {
    width: 30%;
    float: left;
    margin: 1.66%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    margin-left: 1.66%;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    width: 30%;
    ;
}